.login_button {
    height: 40px;
    align-items: center;
    padding: 20px;
    color: #192a56;
    display: flex;
    gap: 10px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
}

.login_button:hover {
    background-color: #FFD700;
}