.navbar {
    background-color: #0D2C57;
}

.container {
    width: 100%;
    max-width: 1200px;
    padding: 10px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logo {
    width: 170px;
}

.logo img {
    width: 100%;
    height: auto;
}


@media (max-width: 650px) {
    .logo {
        order: 1;
    }
    .search_bar {
        order: 3;
        margin: auto;
    }
    .login_button {
        order: 2;
        width: 50%;
        display: flex;
        justify-content: end;
    }
}